* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: gainsboro;
  color: #282c34;
}

textarea::-webkit-scrollbar-thumb, #ia::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-thumb, #ia::-webkit-scrollbar-thumb {
  background-color: rgb(189, 189, 189);    
  border-radius: 1rem;  
  padding: 1rem;     
  border: 2px solid rgb(255, 255, 255); 
  cursor: pointer;
}

.mensagem-limite {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

nav {
  background-color: #282c34;
}

#border {
  border: 1px solid #282c34;
  height: 4vh;
}

nav ul {
  display: flex;
  padding: 0.6rem;
  margin: 0;
  border-radius: 0 !important;
  background-color: transparent !important;
  align-items: center;
  justify-content: space-between;
}

.nav-user {
  margin: 0 12px;
  display: flex;
  gap: 0.6rem;
}

.nav-user span {
  font-size: 1.6rem;
  cursor: pointer;
}

.nav-user span:hover {
  color: darkgray;
}

nav li {
  list-style: none;
  text-align: center;
}

#title {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 2px;
  font-size: 32px;
  color: #ffffff;
}

textarea {
  resize: none;
  border-radius: 1rem 0rem 0rem 1rem;
  padding: 15px 10px 16px 10px;
  border: 1px solid rgb(202, 202, 202);
  color: rgb(48, 48, 48);
  font-size: medium;
  width: 100%;
}


textarea:focus, button:focus {
  outline: none;
}

section {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100dvh;
}

button {
  border: 1px solid white;
  transition: all ease-in 100ms;
  padding: 0;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(191, 230, 203);
  cursor: pointer;
}

button span {
  padding: 0.5rem;
}

button span:hover {
  color: rgb(114, 160, 127);
}

.text-user {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  padding: 0.70rem 0
}

.resposta {
  background-color: rgb(240, 240, 240);
  padding: 0.8rem;
  border-radius: 15px;
  margin: 0.8rem 0;
  border-radius: 0 12px 10px 20px;
}

.text-user-content {
  padding: 12px 1.3rem 12px 12px;
  background-color: rgb(191, 230, 203);
  overflow: auto;
  border-radius: 12px 0 20px 12px;
}

.text-user-content span {
  max-width: 100%; 
  word-wrap: break-word; 
}

.material-symbols-outlined {
  color: rgb(136, 136, 136);
}

.section-content {
  position: relative;
  background-color: rgb(255, 255, 255);
  min-height: 65vh;
  max-height: 88dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem; 
  margin: 1rem 0 5rem;
}

#token-count {
  color: rgba(48, 48, 48, 0.603);
  margin: 0.5rem;
}

.prompt {
  border-top: 1px solid gainsboro;
  padding: 1rem;
}

.prompt_control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#ia {
  position: relative;
  color: rgb(48, 48, 48);
  word-wrap:break-word;
  padding: 0.30rem;
  overflow-y: scroll;
  margin: 1rem;
}

pre {
  color: white !important;
  background-color: #282c34 !important;
  width: 100%;
  display: flex;
  padding: 5px;
  overflow-x: scroll;
  margin-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1rem;
}

.linguagem {
  background-color: #282c34 !important;
  color: white !important;
  border-bottom: 1px solid rgb(92, 92, 92);
  padding: 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 6px;
}

.linguagem span {
  margin-left: 1rem !important;
  font-size: large;
}

.hljs {
  border-radius:0.512em ;
  padding: 0.5rem;
}

ul {
  background-color: rgb(231, 224, 213);
  border-radius: 0.512em;
  padding-top:0.5rem;
  padding-bottom:0.5rem;

}

ul ul {
  padding-left: 10px;
  padding-right: 5px;
}

code {
  color: rgb(175, 52, 52);
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.text-assistant {
  padding: 0.8rem;
}

.Typewriter__wrapper {
  background-color: rgb(240, 240, 240);
  border-radius: 0 12px 10px 20px;
  width: 16rem;
  padding: 0.8rem;
}

p {
  margin: 0;
  text-align: justify;
}

footer {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column; 
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer span {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 14px;
}

#copy-footer {
  background-color: #282c34;
  color: aliceblue;
}

.animate-warning {
  transition: all ease-in 500ms;
}

@media screen and (max-width: 668px) {
  section {
    padding: 0.5rem;
  }

  #ia {
    margin: 0.5rem;
  }

  .section-content {
    width: 100%;
  }

  nav span {
    font-size: 25px;
  }

  span, pre, code, p {
    font-size: 14px;
  }

}

@media screen and (max-width: 391px) {
  .Typewriter__wrapper {
    background-color: transparent;
    padding: 0;
  }

  .text-assistant {
    background-color: rgb(240, 240, 240);
    border-radius: 0 12px 10px 20px;
  }
}
